<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agent">
            <h2><span>Agent</span> {{agent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{agent.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{agent.prenom}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{agent.email}}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{agent.tel}}</span>
                </dd>
                <dt><span>Code Pays</span></dt>
                <dd>
                    <span>{{agent.codePays}}</span>
                </dd>
                <dt><span>Fonction</span></dt>
                <dd>
                    <span>{{agent.fonction}}</span>
                </dd>
                <dt><span>Site</span></dt>
                <dd>
                    <div *ngIf="agent.siteId">
                        <a [routerLink]="['/site', agent.siteId, 'view']">{{agent.siteId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent', agent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
